.policy {
    @include display (flex, center, center);

}

.policy__checkbox-hidden {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.policy__title {
    margin-left: 9px;

    @include max-width (1199px) {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    }
}

.policy__icon {
    @include single-transition (border-color);
    @include double-transition (transform,
        background-color);

    left: 12px;
    transform: scale(1);
    border: 2px solid $black-color;
    border-radius: 2px;
    background-origin: border-box;


    .policy__checkbox-hidden:checked+.policy__label & {
        border-color: $accent-focus-color;
        background-color: $accent-focus-color;
        transform: scale(1.1);
    }

    .policy__checkbox-hidden:hover+.policy__label &,
    .policy__checkbox-hidden:focus+.policy__label & {
        transform: scale(1.1);
    }
}

.policy__link {
    color: $hyper-link-color;

}

.policy__label {
    width: 16px;
    height: 15px;
}

.policy__span {
    position: relative;
}

.policy__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $hyper-link-color;
}