.features {
    @include section-padding (60px, 0, 60px, 0);

    @include desktop {
        @include section-padding (94px, 0, 94px, 0);
    }

}

.features__list {

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}

.features__item {

    @include max-width (767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include tablet {
        flex-basis: calc((100% - 30px) / 2);
        ;
    }

    @include desktop {
        flex-basis: calc((100% - 3 * 30px) / 4);
    }

}

.features__title {
    @include fonts (700, 14px, 1.17);
    text-align: center;
    margin-bottom: 10px;

    color: $second-text-color;
}

.container__icon {
    @include display (flex, center, center);
    height: 120px;
    margin-bottom: 30px;
    background-color: $third-bgc-color;
    border-radius: 4px;

}