.hero {
    max-width: 480px;
    max-height: 400px;
    margin: 0 auto;
    padding: 118px 0;
    text-align: center;

    background-color: $hero-bgc;
    background-image: linear-gradient($overlay-color, $overlay-color),
        url(../images/background-img/header-mob-img-x1.jpg);
    @include hero-responsive-image (2, 192dpi,
        2dppx, '../images/background-img/header-mob-img-x2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @include tablet {
        max-width: 768px;
        background-image: linear-gradient($overlay-color, $overlay-color),
            url(../images/background-img/header-tab-img-1x.jpg);
        @include hero-responsive-image (2, 192dpi,
            2dppx, '../images/background-img/header-tab-img-2x.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @include desktop {
        max-width: 1600px;
        min-height: 600px;
        padding: 200px 0;

        background-image: linear-gradient($overlay-color, $overlay-color),
            url(../images/background-img/header-desk-img-x1.jpg);
        @include hero-responsive-image (2, 192dpi,
            2dppx, '../images/background-img/header-desk-img-x2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.hero__title {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
    color: $white-color;

    @include max-width (1199px) {
        max-width: 360px;
        @include fonts (900, 26px, 1.6);

    }

    @include desktop {
        @include fonts (900, 44px, 1.35);
        max-width: 696px;

    }

}

.hero__btn {
    @extend %button;
    @include fonts (700, 16px, 1.8);
    @include double-transition (background-color, box-shadow);


    letter-spacing: .06em;
    color: $white-color;

    background-color: $hyper-link-color;

    &:hover,
    &:focus {
        background-color: $active-btn;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &:active {
        background-color: $active-btn;
    }

    @include max-width (1199px) {
        padding: 10px 24px;
    }

    @include desktop {
        padding: 10px 32px;
    }

}