.header {
    border-bottom: 1px solid $border-color;

    @include max-width (767px) {
        height: 60px;
    }

    @include tablet {
        height: 80px;
    }

}

.header__container-logo {
    display: inline-block;

    @include min-max-width (768px, 1199px) {
        margin-right: 88px;
    }

    @include desktop {
        margin-right: 93px;
    }

}

.footer {
    &__container-logo {
        margin-bottom: 20px;
    }
}

.logo {
    @include fonts (700, 26px, 1.17);
    font-family: 'Raleway', sans-serif;

    color: $second-text-color;

    &__label {
        color: $hyper-link-color;

        &--white {
            color: $white-color;
        }
    }
}