.project {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.project__item {

  @include max-width (767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include min-max-width (768px, 1199px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

.project__img {
  width: 100%;
}

.container__card {
  padding: 20px 24px;

  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.project__link {
  @include single-transition (box-shadow);
  height: 100%;
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.container__img {
  width: 100%;
  position: relative;
  overflow: hidden;
}



.container__hidden {
  @include single-transition (transform);
  transform: translatey(100%);

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 100%;
  background: linear-gradient($hover-overlay, $hover-overlay);

  .project__link:hover &,
  .project__link:focus & {
    transform: translatex(0);
  }
}

.project__description {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.5;

  color: $white-color;
}

.project__title {
  @include fonts (700, 18px, 2);
  margin-bottom: 4px;

  letter-spacing: 0.06em;

  color: $second-text-color;
}

.project__rubric {
  font-size: 16px;
  line-height: 1.8;
  color: $main-text-color;
}