.container-address {
    @include max-width (1199px) {
        margin-bottom: 60px;
    }
}

.address_item:not(:last-child) {
    @include desktop {
        margin-bottom: 5px;
    }
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;

    &--white {
        color: $white-color;
    }

    &:hover,
    &:focus {
        color: $accent-focus-color;
    }
}