.sign-up-box {
    // margin-left: auto;
}

.sign-up-box__title {
    @extend .social-box__title;
}

.sign-up {
    // @include display (flex, center, center);
}

.sign-up__input {
    @include single-transition (border-color);

    margin-right: 12px;
    padding: 0 16px;
    width: 358px;
    height: 50px;

    outline: none;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    border-radius: 4px;
    color: $white-color;
    background: $footer-bgc;
    border: 1px solid rgba(255, 255, 255, 0.3);


    &:focus {
        border-color: $accent-focus-color;
    }
}

.sign-up__btn {
    @include display (flex, center, center);
    @include fonts (700, 16px, 1.8);
    @include single-transition (color);
    @include double-transition (box-shadow,
        background-color);
    @extend %button;

    width: 200px;
    height: 50px;
    padding: 10px 28px;

    letter-spacing: .06em;
    color: $white-color;
    background-color: $hyper-link-color;
}

.sign-up__icon {
    margin-left: 10px;
    --color-letter: currentColor;
}

.sign-up {

    &__btn:hover,
    &__btn:focus {
        background-color: $white-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: $accent-focus-color;
    }

    &__btn:active {
        background-color: $active-btn;
    }
}