.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;

    @include mobile {
        max-width: $mobile;
    }

    @include tablet {
        max-width: $tablet;
    }

    @include desktop {
        max-width: $desktop;
    }
}