body {
  background-color: $main-bgc-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  @include double-transition (color, background-color);
}

svg {
  @include double-transition (fill, background-color);
}