.cont-list {
    @include display (flex, center, center);
    margin-left: auto;
}

.cont-list__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.cont-list__link {
    @include fonts (500, 14px, 1.1);
    @include display (flex, center, center);

    padding: 32px 0;

    text-decoration: none;
    letter-spacing: 0.02em;
    color: $main-text-color;
}

.cont-list__link {

    &:hover,
    &:focus {
        color: $accent-focus-color;
    }

    &:active {
        color: $accent-focus-color;
    }
}

.cont-list__icon {
    margin-right: 10px;
    --fill-of-icon: currentColor;
}