.cont-list {
    @include max-width (767px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @include tablet {
        display: block;
        margin-left: auto;
    }

    @include desktop {
        @include display (flex, center, center);

    }
}

.cont-list__item {
    @include max-width (767px) {
        &:last-child {
            margin-bottom: 32px;
        }
    }

    @include min-max-width (768px, 1199px) {
        &:first-child {
            margin-bottom: 10px;
        }
    }

    @include desktop {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

}



.cont-list__link {
    letter-spacing: 0.02em;
    color: $main-text-color;
    @include display (flex, flex-start, center);

    @include max-width (767px) {
        @include fonts (500, 24px, 1.16);

        &--size {
            @include fonts (500, 34px, 1.17);
            color: $hyper-link-color;
        }
    }

    @include min-max-width (768px, 1199px) {
        @include fonts (500, 12px, 1.17);

    }

    @include desktop {
        @include fonts (500, 14px, 1.1);
        padding: 32px 0;
    }
}

.cont-list__link {

    &:hover,
    &:focus {
        color: $accent-focus-color;
    }

    &:active {
        color: $accent-focus-color;
    }
}

.cont-list__icon {
    margin-right: 10px;
    --fill-of-icon: currentColor;
    display: none;

    @include tablet {
        display: block;
    }
}