.menu-btn {
    z-index: 3;
    position: absolute;
    display: inline-flex;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;

    border: none;
    border-color: transparent;
    background-color: $main-bgc-color;

    .icon-close {
        display: none;

    }

    @include tablet {
        display: none;
    }

}

.icon-close {
    .menu-btn.is-open & {
        display: block;
    }

    .menu-btn:hover &,
    .menu-btn:hover & {
        fill: $accent-focus-color;
    }
}

.icon-menu {
    .menu-btn.is-open & {
        display: none;
    }
}