@mixin section-padding ($pt, $pr, $pb, $pl, ) {
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
}

// fonts title h2

@mixin fonts ($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

// display position 

@mixin display ($f, $jc, $ai) {
    display: $f;
    justify-content: $jc;
    align-items: $ai;
}

// transition 
@mixin single-transition ($variable) {
    transition: $variable $transition-time $transition-cubic
}

@mixin double-transition ($variable-first, $variable-second ) {
    transition: $variable-first $transition-time $transition-cubic,
        $variable-second $transition-time $transition-cubic;
}

// media 
@mixin mobile {
    @media screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin max-width ($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin min-max-width ($min-width, $max-width) {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}

@mixin hero-responsive-image ($min-device-pixel-ratio, $min-resolution-dpi, $min-resolution-dppx, $url) {

    @media screen and (min-device-pixel-ratio: $min-device-pixel-ratio),
    screen and (min-resolution: $min-resolution-dpi),
    screen and (min-resolution: $min-resolution-dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url($url);
    }
}