$main-text-color: #757575;
$second-text-color: #212121;
$hyper-link-color: #2196f3;
$accent-focus-color: #2196f3;
$active-btn: #188ce8;
$main-bgc-color: #ffffff;
$second-bgc-color: #f5f5f5;
$third-bgc-color: #f5f4fa;
$overlay-color: rgba(47, 48, 58, 0.4);
$hover-overlay: rgba(33, 150, 243, 0.9);
$white-color: #ffffff;
$black-color: #000000;
$hero-bgc: #c4c4c4;
$footer-bgc: #2f303a;
$border-color: #eeeeee;
$icon-color: #afb1b8;
$transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;